.pos .pos-receipt-container > div {
    font-size: 11px;
}

.pos-receipt .pos-receipt-logo {
    height: 25px;
}

.pos-receipt .order-header {
    margin-top: 15px;
}

.pos-receipt span {
    white-space: pre-wrap;
}


.pos-receipt .customer-cashier-detail div {
    margin: 3px auto
}

.pos-receipt hr.separate-line {
    background-color: black;
    height: 1px;
    margin: 0;
}

.pos-receipt hr.separate-line {
    background-color: black;
    height: 1px;
}

/*Order lines*/
.pos-receipt .orderlines .lines-detail {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.pos-receipt .orderlines .lines-detail tbody th {
    text-align: center;
    padding: 0;
}

.pos-receipt .orderlines .lines-detail .number {
    text-align: right;
}

.pos-receipt .orderlines .lines-detail .text {
    text-align: left;
}

.pos-receipt .orderlines .lines-detail .num_1 {
    width: 35%;
}

.pos-receipt .orderlines .lines-detail .num_2 {
    width: 8%;
}

.pos-receipt .orderlines .lines-detail .num_3 {
    width: 20%;
}

.pos-receipt .orderlines .lines-detail .num_4 {
    width: 13%;
}

.pos-receipt .orderlines .lines-detail .num_5 {
    width: 25%;
}

/*payment lines*/
.pos-receipt .payment_lines .payment-detail {
    width: 100%;
}

.pos-receipt .payment_lines .payment-detail .col1 {
    width: 35%;
}

.pos-receipt .payment_lines .payment-detail .col2 {
    width: 8%;
}

.pos-receipt .payment_lines .payment-detail .col3 {
    width: 20%;
}

.pos-receipt .payment_lines .payment-detail .col4 {
    width: 13%;
}

.pos-receipt .payment_lines .payment-detail .col5 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-detail .number {
    text-align: right;
}

.pos-receipt .payment_lines .payment-total {
    width: 100%;
}

.pos-receipt .payment_lines .payment-total .col1 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-total .col2 {
    width: 45%;
    text-align: left;
}

.pos-receipt .payment_lines .payment-total .col3 {
    width: 30%;
    text-align: right;
}