.pos .pos-receipt-container > div {
    font-size: 11px !important;
    font-family: Arial, serif !important;
    padding: 0;
}

.pos .pos-receipt-container > div > div {
    margin-right: 10px;
    margin-left: 5px;
}

.pos-receipt .pos-receipt-logo.format {
    height: 25px;
}

.pos-receipt .pos-receipt-logo.tokyolife {
    width: 95%;
    height: 30px;
}

.pos-receipt .order-header {
    margin-top: 15px;
}

.pos-receipt span {
    white-space: pre-wrap;
}


.pos-receipt .customer-cashier-detail div {
    margin: 3px auto
}

.pos-receipt hr.separate-line {
    border-top: 1px solid black;
    height: 1px;
    margin: 5px 0 0;
}

.pos-receipt .text-center {
    text-align: center;
}

.pos-receipt .text-left {
    text-align: left;
}

.pos-receipt .text-right {
    text-align: right;
}

.pos-receipt .text-justify {
    text-align: justify;
}

.pos-receipt .text-bold {
    font-weight: bold;
}

.pos-receipt .text-italic {
    font-style: italic;
}

/* Header */
.pos-receipt .receipt-header {
    line-height: 1.5 !important;
}

.pos-receipt .receipt-header table {
    width: 100%;
    table-layout: fixed;
}

.pos-receipt .receipt-header table td:nth-child(1) {
    width: 25%;
    vertical-align: top;

}

.pos-receipt .receipt-header table td:nth-child(2) {
    word-wrap: break-word;
}

.pos-receipt .store-address {
    margin: 7px 0;
}

.pos-receipt .mobile-app-qr {
    margin-bottom: 5px;
    font-size: 9px !important;
    border: 2px solid black;
}

/*Order lines*/
.pos-receipt .orderlines {
    line-height: 1.3 !important;
}

.pos-receipt .orderlines .lines-detail {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 7px;
    line-height: 1 !important;
}

.pos-receipt .orderlines .lines-detail .product-price-qty-detail {
    font-size: 9px !important;
}

.pos-receipt .orderlines .lines-detail tbody th {
    text-align: center;
    padding: 0;
}

.pos-receipt .orderlines .lines-detail .number {
    text-align: right;
}

.pos-receipt .orderlines .lines-detail .text {
    text-align: left;
}

.pos-receipt .orderlines .lines-detail .promotion-program-name {
    font-style: italic;
    font-weight: bold;
}

.pos-receipt .orderlines .lines-detail .point-header {
    font-weight: bold;
}

.pos-receipt .orderlines .lines-detail .num_1 {
    width: 25%;
}

.pos-receipt .orderlines .lines-detail .num_2 {
    width: 8%;
}

.pos-receipt .orderlines .lines-detail .num_3 {
    width: 25%;
}

.pos-receipt .orderlines .lines-detail .num_4 {
    width: 18%;
}

.pos-receipt .orderlines .lines-detail .num_5 {
    width: 25%;
}

/*payment lines*/
.pos-receipt .payment_lines {
    line-height: 1.3 !important;

}

.pos-receipt .payment_lines .payment-detail {
    width: 100%;
}

.pos-receipt .payment_lines .payment-detail .col1 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-detail .col2 {
    width: 8%;
}

.pos-receipt .payment_lines .payment-detail .col3 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-detail .col4 {
    width: 18%;
}

.pos-receipt .payment_lines .payment-detail .col5 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-detail .number {
    text-align: right;
}

.pos-receipt .payment_lines .payment-detail .promotion-code {
    font-weight: bold;
}

.pos-receipt .payment_lines .payment-line-detail {
    width: 100%;
    table-layout: fixed;
}

.pos-receipt .payment_lines .payment-line-detail td:nth-child(1) {
    width: 50%;
}


/*Footer*/
.pos-receipt .receipt-footer {
    line-height: 1.5 !important;
    justify-content: space-between;
}

.pos-receipt .policy {
    margin-top: 5px;
    line-height: 1.3;
    word-spacing: 1.8px;
}

.pos-receipt .continuous-hyphen {
    text-align: center;
    margin-top: 5px;
    display: block;
}

.pos-receipt .receipt-footer {
    line-height: 1.3;
}

.pos-receipt .payment-line-detail td:nth-child(1) {
    width: 50%;
    padding-left: 5px;
}

.no_color_border {
    border-color: #FFF;
}

.qr_code {
    width: 90%;
    margin: auto;
    border: 1px solid;
}