.pos .pos-receipt-container > div {
    font-size: 10px !important;
}

.pos-receipt .pos-receipt-logo.format {
    height: 25px;
}

.pos-receipt .pos-receipt-logo.tokyolife {
    width: 70%;
    height: 30px;
}

.pos-receipt .order-header {
    margin-top: 15px;
}

.pos-receipt span {
    white-space: pre-wrap;
}


.pos-receipt .customer-cashier-detail div {
    margin: 3px auto
}

.pos-receipt hr.separate-line {
    background-color: black;
    height: 1px;
    margin: 0;
}

.pos-receipt hr.separate-line {
    background-color: black;
    height: 1px;
}

.pos-receipt .text-center {
    text-align: center;
}

.pos-receipt .text-left {
    text-align: left;
}

.pos-receipt .text-right {
    text-align: right;
}

.pos-receipt .text-bold {
    font-weight: bold;
}

.pos-receipt .text-italic {
    font-style: italic;
}

/* Header */
.pos-receipt .receipt-header {
    width: 100%;
}

.pos-receipt .receipt-header td:nth-child(1) {
    width: 25%;
}

/*Order lines*/
.pos-receipt .orderlines .lines-detail {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.pos-receipt .orderlines .lines-detail tbody th {
    text-align: center;
    padding: 0;
}

.pos-receipt .orderlines .lines-detail .number {
    text-align: right;
}

.pos-receipt .orderlines .lines-detail .text {
    text-align: left;
}

.pos-receipt .orderlines .lines-detail .num_1 {
    width: 35%;
}

.pos-receipt .orderlines .lines-detail .num_2 {
    width: 8%;
}

.pos-receipt .orderlines .lines-detail .num_3 {
    width: 20%;
}

.pos-receipt .orderlines .lines-detail .num_4 {
    width: 13%;
}

.pos-receipt .orderlines .lines-detail .num_5 {
    width: 25%;
}

/*payment lines*/
.pos-receipt .payment_lines .payment-detail {
    width: 100%;
}

.pos-receipt .payment_lines .payment-detail .col1 {
    width: 35%;
}

.pos-receipt .payment_lines .payment-detail .col2 {
    width: 8%;
}

.pos-receipt .payment_lines .payment-detail .col3 {
    width: 20%;
}

.pos-receipt .payment_lines .payment-detail .col4 {
    width: 13%;
}

.pos-receipt .payment_lines .payment-detail .col5 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-detail .number {
    text-align: right;
}

.pos-receipt .payment_lines .payment-total {
    width: 100%;
}

.pos-receipt .payment_lines .payment-total .col1 {
    width: 25%;
}

.pos-receipt .payment_lines .payment-total .col2 {
    width: 45%;
    text-align: left;
}

.pos-receipt .payment_lines .payment-total .col3 {
    width: 30%;
    text-align: right;
}

/*Footer*/
.pos-receipt .policy {
    margin-top: 5px;
    line-height: 1.3;
    word-spacing: 1.8px;
}

.pos-receipt .continuous-hyphen {
    text-align: center;
    margin-top: 5px;
    display: block;
}

.pos-receipt .receipt-footer {
    line-height: 1.3;
}