//change width hàng hóa
.width-hh th[data-name="product_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="name"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="product_type"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="free_good"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="purchase_quantity"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="purchase_uom"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="exchange_quantity"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="product_qty"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="vendor_price"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="price_unit"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="product_uom"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="warehouses_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="taxes_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="price_tax"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="discount_percent"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="discount"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="event_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="production_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="account_analytic_id"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}

.width-hh th[data-name="price_subtotal"] {
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}