.margin_btn {
    margin-right: 5px !important;
}

.padding-setting-custom {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.padding-form-custom {
    padding: 0 0.5em;
}

.set-width-custom [data-name$='_id'] {
    width: 150px !important;
}

.set-width-custom [data-name^='x_'] {
    width: 130px !important;
}