.margin_btn {
    margin-right: 5px !important;
}

.padding-setting-custom {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.padding-form-custom {
    padding: 0 0.5em;
}

.o_required_modifier .o_input,.o_radio_item {
    background-color: #D2D2FF !important;
    border-radius: 3px;
}