//change width hàng hóa
.width-hh th{
    width: 160px !important;
    max-width: 160px !important;
    .text-end {
        text-align: left !important;
    }
}
//.width-first th:first-child {
//    width: 33px !important;
//    max-width: 33px !important;
//    .text-end {
//        text-align: left !important;
//    }
//}