.sb-partner .pos-search-bar .search input:focus {
  outline: none;
}

 .sb-partner .pos-search-bar .search .search-icon {
  position: absolute;
  left: 15px;
  top: 24px;
  z-index: 1;
  color: #4f5b66;
}

 .sb-partner .pos-search-bar .search .fields {
  position: absolute;
  top: calc(100% + 5px);
  right: 2px;
  left: 2px;
  box-shadow: 1px 1px 3px grey;
  overflow: auto;
  z-index: 10
}

 .sb-partner .pos-search-bar .search ul {
  background: white;
  font-size: small;
  display: inline-block;
  min-width: 100%;
}

.sb-partner .pos-search-bar .search li {
  margin: 0.2em 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 35px;
  text-align: left;
}

 .sb-partner .pos-search-bar .search li .term {
  color: #017e84;
}

 .sb-partner .pos-search-bar .search li:hover {
  background: #DDD;
}

 .sb-partner .pos-search-bar .search li .field {
  font-style: italic;
}

 .sb-partner .pos-search-bar .search li .term {
  font-weight: bold;
}

 .sb-partner .pos-search-bar .search li.highlight {
  background: #DDD;
}
 .sb-partner .pos-search-bar .filter .down-icon {
  position: absolute;
  right: 13px;
  top: 12px;
}

input.radius-left.radius-right {
    padding-left: 30px !important;
}

.pos .sb-partner .pos-search-bar {
    position: relative;
}

.sb-partner .pos-search-bar .search li:hover {
    background: #DDD;
}

.sb-partner .pos-search-bar .search li:hover {
    background: #DDD;
}