.pos .rightpane table.table-list-product, .list-order .head li{
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    color: #fff;
    position: relative;
}
.pos-content {
    border-top: 4px solid #FFFFFF;
}

div.list-order {
    flex: 1;
}

li.product-code {
    font-weight: bold;
    padding-left: 12px;
    width: calc(25% - 12px);
}

li.refund-code {
    font-weight: bold;
}

li.refund-line-unit-price, li.refund-percent-discount,
li.refund-discount, li.refund-price, li.available-refund {
    font-weight: bold;
}

li.line-quantity {
    font-weight: bold;
    width: 10%;
}

li.line-unit-price, li.percent_discount, li.discount {
    font-weight: bold;
    width: 15%;
}

ul.head {
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    position: sticky;
}
ul.custom-info-list {
    display: flex;
    flex-wrap: wrap;
}

.pos .rightpane th, .pos .leftpane .head li{
    padding: 18px 5px;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #714B67;
    z-index: 25;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.pos .rightpane th.price{
    text-align: right;
}

.pos .rightpane .product-list {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
    padding: 0;
    gap: 0;
}

.pos .rightpane td{
    color: #4A4F59;
    font-size: 14px;
    padding: 5px;
    text-align: left;
}

.pos .rightpane td.product-price {
    text-align: right;
}

.pos .rightpane table .product {
    position: relative;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    display: table-row;
    flex-direction: column;
    align-items: stretch;
}

.pos .rightpane .product .product-name {
    margin: 0;
    line-height: 24px;
}

.pos .rightpane tr:nth-child(even){background-color: #f2f2f2;}

.pos .rightpane tr:hover {background-color: rgba(1, 126, 132, 0.2);}

.pos .rightpane .products-widget .products-widget-control {
    position: fixed;
    z-index: 26;
    top: 0;
    left: calc(50% - 80px);
}

@media (min-width: 1270px){
    .pos .rightpane .products-widget .products-widget-control {
        left: calc(50% - 120px);
    }
}

.pos .search-bar-container.sb-product{
    width:100%;
    min-width: 250px;
    max-width: 250px;
}

.pos .pos-topheader .status-buttons > div.name-pos:hover{
    background: rgba(0, 0, 0, 0);
}

.pos .order .orderline.selected{
    scroll-margin-block-start: 50px;
}

@media (min-width: 768px){
    .pos .product-screen .leftpane,
    .pos .product-screen .rightpane{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .pos .leftpane .order {
        max-width: 100%;
    }

    .pos .rightpane .subpads {
        display: flex;
        flex-wrap: wrap;
    }

    .pos .rightpane .actionpad,
    .pos .rightpane .numpad{
        flex: 0 0 calc(50% - 0.5px);
    }
}