.modal-body {
  .o_list_view {
    overflow-y: scroll;
    height: 20em;
  }

  .o_control_panel {
    position: sticky;
    right: 0;
    top: 0;
  }

  table {
    border: 1px solid #C9CCD2;

    tr {
      border-bottom: 1px solid #C9CCD2;

      th {
        border-right: 1px solid #C9CCD2;

        div {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          white-space: nowrap;
        }
      }

      td {
        text-align: center;
        border-right: 1px solid #C9CCD2;
        padding: 10px;
      }

      td.o_list_many2one {
        text-align: left;
      }
    }
  }
}

.modal-dialog {

  width: 70em;
  height: 30em;
  overflow-y: visible;

  .o_select_button {
    background: #714B67;
    color: #FFFFFF;
  }

  th.o_list_record_selector.o_list_controller.align-middle.pe-1.cursor-pointer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th.o_list_record_selector, td.o_list_record_selector {
    label {
      padding: 0;
    }
  }

  .o_form_button_cancel {
    margin-left: 10px;
  }

  .o_cp_bottom, .btn-close {
    display: none;
  }

  .o_searchview_autocomplete {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #C9CCD2;
  }

  .o_cp_pager {
    text-align: right;
    margin: 5px;
  }

  .btn-group {
    button {
      padding: 0;
    }
  }


  .o_list_selection_box {
    margin: 10px 0;
  }

  .modal-content {
    display: flex;
    flex-direction: column;

    footer {
      margin: 10px 0;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      display: flex;
      width: 200px;
      justify-content: space-between;
    }
  }
}