table {
  border: 1px solid;

  tr {
    border-bottom: 1px solid;

    th {
      border-right: 1px solid;

      div {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
      }
    }
  }
}

.o_control_panel, .btn-close {
  display: none;
}